@define-color background #0b1218;
@define-color error #ffb4ab;
@define-color error_container #93000a;
@define-color inverse_on_surface #273036;
@define-color inverse_primary #104c80;
@define-color inverse_surface #d4e3ed;
@define-color on_background #d4e3ed;
@define-color on_error #690005;
@define-color on_error_container #ffdad6;
@define-color on_primary #002845;
@define-color on_primary_container #b3d9ff;
@define-color on_primary_fixed #001829;
@define-color on_primary_fixed_variant #003d63;
@define-color on_secondary #16232e;
@define-color on_secondary_container #bcd6fa;
@define-color on_secondary_fixed #041927;
@define-color on_secondary_fixed_variant #2a4056;
@define-color on_surface #d4e3ed;
@define-color on_surface_variant #b4c7d3;
@define-color on_tertiary #152435;
@define-color on_tertiary_container #bbd4ea;
@define-color on_tertiary_fixed #042010;
@define-color on_tertiary_fixed_variant #2a3e4c;
@define-color outline #8095a0;
@define-color outline_variant #39454f;
@define-color primary #6fb8f4;
@define-color primary_container #003d63;
@define-color primary_fixed #b3d9ff;
@define-color primary_fixed_dim #6fb8f4;
@define-color scrim #000000;
@define-color secondary #a1c2dd;
@define-color secondary_container #2a4056;
@define-color secondary_fixed #bcd6fa;
@define-color secondary_fixed_dim #a1c2dd;
@define-color shadow #000000;
@define-color source_color #2663a8;
@define-color surface #0b1218;
@define-color surface_bright #30383f;
@define-color surface_container #171f25;
@define-color surface_container_high #212a2f;
@define-color surface_container_highest #2b343b;
@define-color surface_container_low #131b20;
@define-color surface_container_lowest #070d12;
@define-color surface_dim #0b1218;
@define-color surface_tint #6fb8f4;
@define-color surface_variant #39454f;
@define-color tertiary #a1ceb8;
@define-color tertiary_container #2a3e4c;
@define-color tertiary_fixed #bbd4ea;
@define-color tertiary_fixed_dim #a1ceb8;
